* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  display: flex;
  justify-content: center;
}

body {
  max-width: 1100px;
  width: 100%;
}

.fantasyFont {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.amatic-sc-regular {
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.textFont {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
}

.textFont-bold {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
}
.navBar_section {
  border: 1px solid black;
}

.section1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 237px;
  background-color: #fdc1ba;
}
.section1_presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 50%;
}
.section1_presentation_tittle {
  font-size: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85px;
  margin-top: 10px;
}
.section1_presentation_tittle_bakery {
  font-size: 40px;
  margin-bottom: 15px;
}
.section1_presentation_description {
  border-top: 1px solid black;
  width: 500px;
  text-align: center;
  font-size: 15px;
  width: 100%;
  padding-top: 10px;
}
.section1_image {
  height: 89%;
}

.section2 {
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section2_tittle {
  font-size: 30px;
  margin-bottom: 5px;
}
.section2_menu {
  display: flex;
  justify-content: space-around;
  width: 90%;
}
.section2_menu_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding-left: 7.5px;
  padding-right: 8px;
  padding-bottom: 6px;
}
.section2_menu_button_img {
  width: 50px;
}
.section2_menu_button_text {
  margin-top: 3px;
}
.section2_menu_button:hover {
  background-color: #a2d2e2;
  transition: 0.3s;
}

.section3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 190px;
  background-color: #bee6f4;
}
.section3_promotion {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section3_promotion_tittle {
  font-size: 50px;
}
.section3_promotion_text {
  width: 80%;
  margin-top: 13px;
  margin-bottom: 6px;
}
.section3_promotion_button {
  background-color: #bee6f4;
  width: 120px;
  height: 40px;
  border-radius: 50px;
  font-size: 20px;
  padding-bottom: 12px;
}
.section3_promotion_button:hover {
  scale: 110%;
  transition: 0.3s;
  background-color: #fdc1ba;
}
.section3_image {
  width: 500px;
  padding-left: 2rem;
}

.section4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.section4_navBar {
  display: flex;
  justify-content: space-around;
  width: 20%;
  margin-bottom: 1rem;
}
.section4_navBar_button {
  font-size: 20px;
  border: none;
  background-color: white;
}
.section4_navBar_button:hover {
  font-size: 21px;
  color: #fdc1ba;
  transition: 0.2s;
}
.section4_cards {
  display: flex;
  justify-content: space-around;
  width: 90%;
}
.section4_cards_card {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  position: relative;
}
.section4_cards_card_img {
  width: 100%;
}
.section4_cards_card:hover {
  box-shadow: 0px 0px 30px #fdc1ba;
  transition: 0.2s;
}
.section4_cards_card_text {
  font-size: 10px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.section4_cards_card_price {
  font-size: 12px;
  margin-bottom: 6px;
}
.section4_cards_card_alert {
  background-color: red;
  border-radius: 7px;
  font-size: 7px;
  padding-right: 5px;
  padding-left: 3px;
  position: absolute;
  left: 2px;
  top: 3px;
  box-shadow: 2px 2px 8px black;
  color: white;
  text-shadow: -0.25px -0.25px 0 #000, 0.25px -0.25px 0 #000, -0.25px 0.25px 0 #000, 0.25px 0.25px 0 #000;
}
.section4_cards_card_discount {
  color: white;
  background-color: greenyellow;
  border-radius: 7px;
  font-size: 7px;
  padding-right: 5px;
  padding-left: 3px;
  position: absolute;
  left: 2px;
  top: 19px;
  box-shadow: 2px 2px 8px black;
  text-shadow: -0.25px -0.25px 0 #000, 0.25px -0.25px 0 #000, -0.25px 0.25px 0 #000, 0.25px 0.25px 0 #000;
}

.section5 {
  border: 1px solid black;
  height: 150px;
  display: flex;
}
.section5_example1 {
  border: 1px solid black;
  width: 50%;
  background-color: #a2d2e2;
}
.section5_example2 {
  border: 1px solid black;
  width: 50%;
  background-color: #ffd6d1;
}

.section6 {
  border: 1px solid black;
  height: 50px;
  background-color: #A9A9A9;
}

.section7 {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.section7_img-left {
  border: 1px solid black;
  width: 50px;
}
.section7_img-right {
  border: 1px solid black;
  width: 50px;
}
.section7_text {
  border: 1px solid black;
}

.footer {
  border: 1px solid black;
  background-color: gray;
}

/*# sourceMappingURL=styles.css.map */
