* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    display: flex;
    justify-content: center;
}
body {
    //border: 2px solid black;
    max-width: 1100px;
    width: 100vh;
    position: relative;
}

.fantasyFont {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}
.amatic-sc-regular {
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.textFont {
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
}
.textFont-bold {
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-style: normal;
}
.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.bi-instagram {
    color: #D43089;
}
.bi-facebook {
    color: #1877f2;
}
.bi-whatsapp {
    color: green;
}

.navBar {
    //border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #252525;
    color: white;

    &_section_mid {
        display: flex;
        align-items: center;

        &_tittle {
            //border: 1px solid white;
            font-size: 40px;
        }

        &_bake {
            //border: 1px solid white;
            font-size: 30px;
            margin-left: .5rem;
        }
    }

    &_section_left {
        margin-left: 1rem;
    }

    &_section_right {
        display: flex;
        justify-content: space-between;
        margin-right: 1rem;
        width: 100px;
        //border: 1px solid white;
        font-size: 25px;
    }
}



.section1 {
    //border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    // height: 300px;
    height: 100vh;
    background-color: #fdc1ba;
    position: relative;
    &_presentation {
        //border: solid 1px black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        max-width: 47%;
        position: relative;
        &_tittle {
            font-size: 80px;
            //border: 1px solid black;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 85px;
            margin-top: 25px;
        }
        &_bakery {
            font-size: 40px;
            //border: 1px solid black;
            margin-bottom: 15px;
        }
        &_description {
            border-top: 1px solid black;
            width: 500px;
            text-align: center;
            font-size: 15px;
            width: 100%;
            padding-top: 10px;
            margin-top: .7rem;
        }
    }
    &_image {
        //border: solid 1px black;
        max-height: 89%;
        max-width: 50%;
        //position: relative;
        
    }
    &_splash{
        //border: 1px solid black;
        width: 110px;
        height: 55.7px;
        position: absolute;
        top: 97.5%;
        right: 8px;
        &_1{
            background-color: #fdc1ba;
            position: absolute;
            width: 100%;
            height: 40%;
            border-bottom-left-radius: 100px;
            border-bottom-right-radius: 100px;
            //border: 1px solid black;
        }
        &_2{
            //border: 1px solid black;
            background-color: #fdc1ba;
            position: absolute;
            right: 24%;
            top: 22%;
            width: 25%;
            height: 22px;
            border-bottom-left-radius: 100px;
            border-bottom-right-radius: 100px;
        }
        &_3{
            //border: 1px solid black;
            background-color: #fdc1ba;
            position: absolute;
            right: 44%;
            top: 27%;
            width: 40px;
            height: 22px;
            border-bottom-left-radius: 100px;
            border-bottom-right-radius: 100px;
        }
        &_4{
            //border: 1px solid black;
            background-color: #fdc1ba;
            position: absolute;
            right: 55%;
            top: 47%;
            width: 10px;
            height: 30px;
            border-bottom-left-radius: 100px;
            border-bottom-right-radius: 100px;
        }
    }
}
.section2 {
    //border: 1px solid black;
    height: 100%;
    max-height: 32vh;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 390px;
    &_tittle {
        //border: 1px solid black;
        font-size: 6vw;
        margin-bottom: 5px;
    }
    &_menu {
        //border: 1px solid black;
        display: flex;
        justify-content: space-around;
        &_button {
            width: 32%;
            //border: 1px solid black;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 10px;
            font-size: 80%;
            // padding-left: 7.5px;
            // padding-right: 8px;
            // padding-bottom: 6px;

            &_img {
                width: 70%;
                //border: 1px solid black;
            }

            &_text {
                margin-top: 3px;
            }

            &:hover {
                background-color: #a2d2e2;
                transition: .3s;
            }
        }
    }
}
.section3 {
    //border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 190px;
    background-color: #bee6f4;
    position: relative;
    &_promotion {
        //border: 1px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 50%;
        max-height: 100%;
        &_tittle {
            font-size: 180%;
            //border: 1px solid black;
        }
        &_text {
            //border: 1px solid black;
            width: 80%;
            margin-top: 5px;
            margin-bottom: 13px;
            text-align: center;
            font-size: 75%;
        }

        &_button {
            background-color: #bee6f4;
            width: 120px;
            height: 40px;
            border-radius: 50px;
            font-size: 20px;
            padding-bottom: 12px;

            &:hover {
                scale: 110%;
                transition: .3s;
                background-color: #fdc1ba;
            }
        }
    }
    &_image {
        //border: 1px solid black;
        width: 50%;
        padding-left: 2rem;
        position: relative;
    }
    &_splash{
        //border: 1px solid black;
        width: 110px;
        height: 58.7px;
        position: absolute;
        top: 185px;
        left: 10px;
        &_1{
            background-color: #bee6f4;
            position: absolute;
            width: 100%;
            height: 30%;
            border-bottom-left-radius: 100px;
            border-bottom-right-radius: 100px;
            //border: 1px solid black;
        }
        &_2{
            //border: 1px solid black;
            background-color: #bee6f4;
            position: absolute;
            right: 24%;
            top: 22%;
            width: 25px;
            height: 22px;
            border-bottom-left-radius: 100px;
            border-bottom-right-radius: 100px;
        }
        &_3{
            //border: 1px solid black;
            background-color: #bee6f4;
            position: absolute;
            right: 44%;
            top: 27%;
            width: 40px;
            height: 22px;
            border-bottom-left-radius: 100px;
            border-bottom-right-radius: 100px;
        }
        &_4{
            //border: 1px solid black;
            background-color: #bee6f4;
            position: absolute;
            right: 55%;
            top: 47%;
            width: 10px;
            height: 30px;
            border-bottom-left-radius: 100px;
            border-bottom-right-radius: 100px;
        }
    }
}
.section4 {
    //border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //height: ;

    &_navBar {
        //border: 1px solid black;
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-bottom: 1rem;
        margin-top: 3.2rem;
        &_button {
            font-size: 40px;
            border: none;
            background-color: white;

            &:hover {
                font-size: 41px;
                color: #fdc1ba;
                transition: .2s;
            }
        }
    }

    &_cards {
        //border: 1px solid black;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        &_card {
            //border: 1px solid black;
            width: 32%;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;

            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;

            &_img {
                width: 100%;
            }

            &:hover {
                box-shadow: 0px 0px 30px #fdc1ba;
                transition: .2s;
            }

            &_text {
                font-size: 10px;
                text-align: center;
                padding-top: 5px;
                padding-bottom: 5px;
            }

            &_price {
                font-size: 12px;
                margin-bottom: 6px;
            }

            &_alert {
                background-color: red;
                border-radius: 7px;
                font-size: 12px;
                padding-right: 5px;
                padding-left: 3px;
                position: absolute;
                left: 2px;
                top: 3px;
                box-shadow: 2px 2px 8px black;
                color: white;

                text-shadow:
                    -.25px -.25px 0 #000,
                    .25px -.25px 0 #000,
                    -.25px .25px 0 #000,
                    .25px .25px 0 #000;
            }

            &_discount {
                color: white;
                background-color: greenyellow;
                border-radius: 7px;
                font-size: 12px;
                padding-right: 5px;
                padding-left: 3px;
                position: absolute;
                left: 2px;
                top: 32px;
                box-shadow: 2px 2px 8px black;

                text-shadow:
                    -.25px -.25px 0 #000,
                    .25px -.25px 0 #000,
                    -.25px .25px 0 #000,
                    .25px .25px 0 #000;
            }
        }
    }
}
.section5 {
    //border: 1px solid black;
    height: 250px;
    display: flex;

    &_example1 {
        //border: 1px solid black;
        width: 50%;
        background-image: url("../img/Vibrant\ Donut\ Delight\ with\ Coffee.jpg");
        background-size: 100%;
        background-repeat:no-repeat;
        background-size: cover;
    }

    &_example2 {
        //border: 1px solid black;
        width: 50%;
        background-image: url("../img/Assorted\ Colorful\ Pastries\ Display.jpg");
        background-size: 100%;
        background-repeat:no-repeat;
        background-size: cover;
    }
}
.section6 {
    //border: 1px solid black;
    height: 50px;
    background-color: #252525;
}
.section7 {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &_img-left {
        border: 1px solid black;
        width: 50px;
    }

    &_img-right {
        border: 1px solid black;
        width: 50px;
    }

    &_text {
        border: 1px solid black;
    }
}
.footer {
    //border: 1px solid black;
    background-color: #252525;
}

// @media (min-width: 389px){
//     body{
//         max-width: 390px;
//     }
// }